---
// src/components/Avatar.astro
---

<div class="relative flex justify-center items-center p-8">
  <!-- Fondo degradado -->
  <div class="absolute w-48 h-48 
              bg-gradient-to-tr 
              from-accent 
    to-accent/65
              rounded-full filter  z-0"></div>
  

  <!-- Imagen de perfil -->
  <img 
    src="https://res.cloudinary.com/dwxc8s4mq/image/upload/v1748560366/portfolio/avatar_szpmal.webp"    
    alt="Diego Alvarez" 
    class="relative w-64 h-64 rounded-full 
           border-4 border-label-primary 
           shadow-lg object-cover z-20"
  >
</div>
