---
import "../styles/global.css";
import Nav from '../components/Nav.astro';

const lang = Astro.currentLocale || 'en'; 
const avatarUrl = "https://res.cloudinary.com/dwxc8s4mq/image/upload/w_512,h_512,c_fill,q_auto,f_auto/v1748560366/portfolio/avatar_szpmal.webp";
--- 
<!doctype html>
<html lang={lang} class="noise">
	<head>
		<link rel="preload" href={avatarUrl} as="image" />
		<script is:inline>
			const applyInitialTheme = () => {
				let theme = 'light'; // Default to light
				if (typeof localStorage !== 'undefined') {
					const storedTheme = localStorage.getItem('theme');
					if (storedTheme === 'dark') {
						theme = 'dark';
					}

					localStorage.setItem('theme', theme);
				}
				document.documentElement.classList.toggle('dark', theme === 'dark');
			};
			applyInitialTheme();
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Diego Alvarez - Software Developer</title>
	</head>
	<body class="bg-background-primary text-label-primary">
			<Nav />
		<slot />
	</body>
</html>
